<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>I built this app using API's of mapbox and weatherbit.</p>
        <img class="portrait" src="/img/E0B3C5EA-643A-421A-B027-5CAA76E5EC27L0001.jpeg">
    </div>
    
    {{>footer}}
</body>

</html>
